@model SMPhotos.Web.ViewModel.AlbumVM
@{
    ViewBag.Title = Model.Name;
}
@section Styles
{
    @Styles.Render("~/Content/fancyBox/css")
    @Styles.Render("~/Content/main/css")
}

<div class="row content-center">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12"><h2>@Model.Name - @Model.Description</h2></div>
    <div class="toolbar" role="toolbar">
        <div class="btn-group pagination-centered">
            <a href="@Url.Action(MVCManager.Controller.Main.Albums, MVCManager.Controller.Main.Name)" title="Return to Albums">
                <button class="glyphicon glyphicon-arrow-left btn btn-default"></button>
            </a>
            @if (User.IsInRole("Uploader"))
            {
                <a href="@Url.Action(MVCManager.Controller.Main.ImageLoad, MVCManager.Controller.Main.Name, new { id = Model.Id })" title="Add images">
                    <button class="glyphicon glyphicon-plus btn btn-default"></button>
                </a>}
            <strong title="View as grid"><button class="glyphicon glyphicon-th-large btn btn-disabled"></button></strong>
            <a href="@Url.Action(MVCManager.Controller.Main.AlbumAsList, MVCManager.Controller.Main.Name, new { id = Model.Id})" title="View as list">
                <button class="glyphicon glyphicon-th-list btn btn-default"></button>
            </a>
            @if (User.IsInRole("Uploader"))
            {<a href="@Url.Action(MVCManager.Controller.Main.ChangeAlbum, MVCManager.Controller.Main.Name, new { id = Model.Id})" title="Edit this album">
                <button class="glyphicon glyphicon-edit btn btn-default"></button>
            </a>
            <a href="#">
                <button class="glyphicon glyphicon-remove btn btn-default" data-toggle="modal" data-target="#myModal"></button>
            </a>}
        </div>
    </div>
</div>

<div class="row content-center">
    @foreach (var image in Model.Image)
    {
        <div class="center-cropped col-sm-2 col-lg-2 col-md-2 col-xs-2 col-centered">
            @if (User.IsInRole("Uploader"))
            {<span class="">
                <a href="@Url.Action(MVCManager.Controller.Main.RemoveImage, MVCManager.Controller.Main.Name, new { albumId = Model.Id, imageId = image.Id })" title="Remove this image"><span class="glyphicon glyphicon-remove"></span></a>
            </span>}
            <a class="fancybox-thumb" rel="fancybox-thumb" href="@Url.Action(MVCManager.Controller.Image.GetImage, MVCManager.Controller.Image.Name, new { id = image.Id, name = image.Name})" title="@image.Name">
                @*<img src="@Url.Action(MVCManager.Controller.Image.GetThumbnail, MVCManager.Controller.Image.Name, new { id = image.Id })" alt="@image.Name" />*@
                <img src="@Url.Content("~/" + MVCManager.Controller.Main.DefaultThumbnailsPath + "/" + image.Album.Guid.ToString() + "/" + image.Name)" />
            </a>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Do you want to remove this album? </h3>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action(MVCManager.Controller.Main.RemoveAlbum, MVCManager.Controller.Main.Name, new { id = Model.Id})">
                    <button type="button" class="btn btn-default">Yes</button>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@section Script
{
    @Scripts.Render("~/Scripts/fancyBox/js")
    @Scripts.Render("~/Scripts/portrait/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-thumb").fancybox({
                afterLoad: function () {
                    this.title = '<a href="' + this.href + '" title="Download this image"><span class="glyphicon glyphicon-download-alt" style="color: white"></span></a> ' + this.title;
                },
                afterShow: function () {
                    $(".fancybox-title").wrapInner('<div />').show();
                    $(".fancybox-wrap").hover(function () {
                        $(".fancybox-title").show();
                    }, function () {
                        $(".fancybox-title").hide();
                    });
                },
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'over'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    },
                    buttons: {}
                }
            });
        });
    </script>
}
