@model SMPhotos.Web.ViewModel.AlbumListVM
@{
    ViewBag.Title = "Main albums";
}

@section Styles
{
    @Styles.Render("~/Content/main/css")
}

<div class="row content-center">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <h2>Welcome to @Navigation.SMPhotos!</h2>
    </div>
    <div class="toolbar" role="toolbar">
        <div class="btn-group pagination-centered">
            @if (User.IsInRole("Uploader"))
            {
                <a href="@Url.Action(MVCManager.Controller.Main.CreateAlbum, MVCManager.Controller.Main.Name)" title="Add new album">
                    <button class="glyphicon glyphicon-plus btn btn-default"></button>
                </a>}
        </div>
    </div>
</div>

<div class="row content-center">
    @foreach (var albums in Model.AllAlbums)
    {
        <div class="portfolio-item col-sm-2 col-lg-2 col-md-2 col-xs-2 col-centered">
            <div class="center-cropped col-centered">
                <a class="fancybox-thumb" href="@Url.Action(MVCManager.Controller.Main.Album, new { id = albums.Id })" title="@albums.Name - @albums.Description">
                    @if (@albums.Image.Count > 0)
                    {
                        <img src="@Url.Content("~/" + MVCManager.Controller.Main.DefaultThumbnailsPath + "/"  + albums.Guid.ToString() + "/" + albums.Image[0].Name)" title="@albums.Description" alt="@albums.Description" />
                        @*<img class="" src="@Url.Action(MVCManager.Controller.Image.GetThumbnail, MVCManager.Controller.Image.Name, new { id = albums.Image[0].Id })" title="@albums.Description" alt="@albums.Description">*@
}
                    else
                    {
                        <img class="" src="~/Images/no_image_thumb.gif" title="@albums.Description" alt="@albums.Description">
}
                </a>
            </div>
            <h4 class="standard-description">
                <a href="@Url.Action(MVCManager.Controller.Main.Album, new { id = albums.Id})" title="@albums.Name">@albums.Name</a>
            </h4>
            <p class="standard-description">@albums.Description</p>
        </div>}
</div>
@section Script
{
    @Scripts.Render("~/Scripts/portrait/js")
}