@model SMPhotos.Web.ViewModel.AlbumVM
@{
    ViewBag.Title = "Album";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    @Styles.Render("~/Content/fancyBox/css")
}

<hr />

<div @*class="container"*@>
    <h2>Fancy Test</h2>

    @*<div class="row">*@
        @foreach (var image in Model.Image)
        {

                    <a class="fancybox-thumb" rel="fancybox-thumb" href="@Model.PathAlbum@image.Name" title="@image.Description">
                        <img src="@Model.PathAlbum@image.Name" alt="" />
                    </a>

        }
    @*</div>*@


    <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm6.staticflickr.com/5444/17679973232_568353a624_b.jpg" title="Golden Manarola (Sanjeev Deo)">
        <img src="http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg" alt="" />
    </a>


</div>

@section Script
{
    @Scripts.Render("~/Scripts/fancyBox/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    },
                    buttons: {}
                }
            });
        });
    </script>
}