@model SMPhotos.Web.ViewModel.AlbumVM
@{
    ViewBag.Title = Model.Name;
}
@section Styles
{
    @Styles.Render("~/Content/fancyBox/css")
    @Styles.Render("~/Content/main/css")
}

<div class="row content-center">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <h2>@Model.Name - @Model.Description</h2>
    </div>
    <div class="toolbar" role="toolbar">
        <div class="btn-group pagination-centered">
            <a href="@Url.Action(MVCManager.Controller.Main.Albums, MVCManager.Controller.Main.Name)" title="Return to Albums">
                <button class="glyphicon glyphicon-arrow-left btn btn-default"></button>
            </a>
            @if (User.IsInRole("Uploader"))
            {
                <a href="@Url.Action(MVCManager.Controller.Main.ImageLoad, MVCManager.Controller.Main.Name, new { id = Model.Id })" title="Add images">
                    <button class="glyphicon glyphicon-plus btn btn-default"></button>
                </a>}
            <a href="@Url.Action(MVCManager.Controller.Main.Album, MVCManager.Controller.Main.Name, new { id = Model.Id})" title="View as grid">
                <button class="glyphicon glyphicon-th-large btn btn-default"></button>
            </a>
            <strong title="View as list"><button class="glyphicon glyphicon-th-list btn btn-disabled"></button></strong>
            <a href="@Url.Action(MVCManager.Controller.Main.ChangeAlbum, MVCManager.Controller.Main.Name, new { id = Model.Id})" title="Edit this album">
                <button class="glyphicon glyphicon-edit btn btn-default"></button>
            </a>
            <a href="@Url.Action(MVCManager.Controller.Main.AlbumAsList, MVCManager.Controller.Main.Name, new { id = Model.Id})" title="Remove this album">
                <button class="glyphicon glyphicon-remove btn btn-default"></button>
            </a>
        </div>
    </div>
</div>

<div class="row">
    @*<hr />*@
    @foreach (var image in Model.Image)
    {
        <a class="fancybox-button" rel="fancybox-thumb" href="@Url.Action("getimage", "image", new { id = image.Id, name = image.Name})" title="@image.Name - @image.Description">
            @image.Name
        </a>
        <span>&nbsp;|&nbsp;</span>}
</div>

@section Script
{
    @Scripts.Render("~/Scripts/fancyBox/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-button").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    buttons: {}
                }
            });
        });
    </script>
}
