@model SMPhotos.Web.ViewModel.AlbumVM
@{
    ViewBag.Title = Model.Name;
}
@section Styles
{
    @Styles.Render("~/Content/fancyBox/css")
    @Styles.Render("~/Content/main/css")
}
@*<hr />*@
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6"><h2>@Model.Description</h2></div>
        @if (User.IsInRole("Uploader"))
        {
            <div class="col-sm-6 col-lg-6 col-md-6 col-sx-6">
                <a href="@Url.Action(MVCManager.Controller.Main.ImageLoad, MVCManager.Controller.Main.Name, new { id = Model.Id }) ">
                    <button class="btn btn-default navbar-right" type="submit">Add images</button>
                </a>

                @*@using (Html.BeginForm("album", "Main", FormMethod.Post, new { }))
                    {
                        <button class="btn btn-default navbar-right" type="submit">Add images</button>
                    }*@
            </div>}
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 left">
            <a href="@Url.Action(MVCManager.Controller.Main.albums, MVCManager.Controller.Main.Name)" title="Return to Albums" class="lead"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
            <span class="pull-right lead">
                <strong title="View as grid"><span class="glyphicon glyphicon-th-large"></span></strong>
                <a href="@Url.Action(MVCManager.Controller.Main.albumtext, MVCManager.Controller.Main.Name, new { Id = Model.Id})" title="View as list"><span class="glyphicon glyphicon-th-list"></span></a>
            </span>
        </div>
    </div>
    <div class="row">
        @foreach (var image in Model.Image)
        {
            <div class="center-cropped col-sm-3 col-md-3 col-xs-3 col-lg-3">
                <a class="fancybox-thumb" rel="fancybox-thumb" href="@Url.Action("GetImage", "Image", new { ImageId = image.Id})" title="@image.Description">
                    <img src="@Url.Action("GetImage", "Image", new { ImageId = image.Id })" alt="@image.Description" />
                </a>
            </div>}
    </div>
</div>
@section Script
{
    @Scripts.Render("~/Scripts/fancyBox/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    },
                    buttons: {}
                }
            });
        });
    </script>
}
