@model SMPhotos.Web.ViewModel.AlbumVM
@{
    ViewBag.Title = Model.Name;
}
@section Styles
{
    @Styles.Render("~/Content/fancyBox/css")
    @Styles.Render("~/Content/main/css")
}

<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12"><h2>@Model.Name - @Model.Description</h2></div>
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <span class="lead btn btn-default">
            <a href="@Url.Action(MVCManager.Controller.Main.albums, MVCManager.Controller.Main.name)" title="Return to Albums">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </span>
        @if (User.IsInRole("Uploader"))
        {
            <span class="lead btn btn-default">
                <a href="@Url.Action(MVCManager.Controller.Main.imageload, MVCManager.Controller.Main.name, new { id = Model.Id })" title="Add images"><span class="glyphicon glyphicon-plus"></span></a>
            </span>}
        <span class="lead btn btn-default">
            <a href="@Url.Action(MVCManager.Controller.Main.album, MVCManager.Controller.Main.name, new { Id = Model.Id})" title="View as grid"><span class="glyphicon glyphicon-th-large"></span></a>
        </span>
        <span class="lead btn btn-default btn-disabled">
            <strong title="View as list"><span class="glyphicon glyphicon-th-list"></span></strong>
            </span>
        <span class="lead btn btn-default">
            <a href="@Url.Action(MVCManager.Controller.Main.albumaslist, MVCManager.Controller.Main.name, new { Id = Model.Id})" title="Edit this album"><span class="glyphicon glyphicon-edit"></span></a>
        </span>
        <span class="lead btn btn-default">
            <a href="@Url.Action(MVCManager.Controller.Main.albumaslist, MVCManager.Controller.Main.name, new { Id = Model.Id})" title="Remove this album"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
</div>
<div class="row">
    @*<hr />*@
    @foreach (var image in Model.Image)
    {
        <a class="fancybox-button" rel="fancybox-thumb" href="@Url.Action("GetImage", "Image", new { ImageId = image.Id, name = image.Name })" title="@image.Name @image.Description">
            @image.Name
        </a><span>&nbsp;|&nbsp;</span>}
</div>

@section Script
{
    @Scripts.Render("~/Scripts/fancyBox/js")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-button").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                closeBtn: false,
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    buttons: {}
                }
            });
        });
    </script>
}
