@model SMPhotos.Web.ViewModel.UsersLists
@{
    ViewBag.Title = "Admin";
}

    <div class="confirm">
@using (Html.BeginForm("RegNewUsers", "Home", FormMethod.Post))
{
    <h3>New users: </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th class="checktool col-md-1">Active</th>
                        <th class="checktool col-md-1">Admin</th>
                        <th class="checktool col-md-1">Uploader</th>
                    </tr>
                </thead>
                <tbody>

                  

                    @for (int i = 0; i < Model.NoActiveUsers.Count(); i++)
                    { 
           

                        <tr>
                            <td class="hidden">@Html.EditorFor(m => m.NoActiveUsers[i].Id)</td>
                            <td>@Html.EditorFor(m => m.NoActiveUsers[i].FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.NoActiveUsers[i].LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.NoActiveUsers[i].Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.CheckBoxFor(m => m.NoActiveUsers[i].IsActive)</td>
                            <td>@Html.CheckBoxFor(m => m.NoActiveUsers[i].IsAdmin)</td>
                            <td>@Html.CheckBoxFor(m => m.NoActiveUsers[i].IsUploader)</td>
                        </tr>
                        }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Apply changes</button>
}
        <form method="post" action="Admin">
            <h3>Users: </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th class="checktool col-md-1">Active</th>
                        <th class="checktool col-md-1">Admin</th>
                        <th class="checktool col-md-1">Uploader</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AllUsers.Count(); i++)
                    {
                        <tr>
                            <td class="hidden">@Html.EditorFor(m => m.AllUsers[i].Id)</td>
                            <td>@Html.EditorFor(m => m.AllUsers[i].FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.AllUsers[i].LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.AllUsers[i].Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.CheckBoxFor(m => m.AllUsers[i].IsActive)</td>
                            <td>@Html.CheckBoxFor(m => m.AllUsers[i].IsAdmin)</td>
                            <td>@Html.CheckBoxFor(m => m.AllUsers[i].IsUploader)</td>
                        </tr>}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Apply changes</button>
        </form>
    </div>

@section Styles
{
    @Styles.Render("~/Content/admin/css")
}
