@model List<SMPhotos.Web.ViewModel.UserVM>
@{
    ViewBag.Title = "Admin";
}

    <div class="confirm">
        <form >
            <h3>New users: </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th class="checktool col-md-1">Active</th>
                        <th class="checktool col-md-1">Admin</th>
                        <th class="checktool col-md-1">Uploader</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td><input type="checkbox" id="isActive" /></td>
                        <td><input type="checkbox" id="isAdmin" /></td>
                        <td><input type="checkbox" id="isUploader" /></td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td><input type="checkbox" id="isActive" /></td>
                        <td><input type="checkbox" id="isAdmin" /></td>
                        <td><input type="checkbox" id="isUploader" /></td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td><input type="checkbox" id="isActive" /></td>
                        <td><input type="checkbox" id="isAdmin" /></td>
                        <td><input type="checkbox" id="isUploader" /></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary">Apply changes</button>
            </form>
            <br>
            <br>
            <br>
        <form method="post" action="">
            <h3>Users: </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th class="checktool col-md-1">Active</th>
                        <th class="checktool col-md-1">Admin</th>
                        <th class="checktool col-md-1">Uploader</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td class="hidden">@Html.EditorFor(m => m[i].Id)</td>
                            <td>@Html.EditorFor(m => m[i].FirstName , new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m[i].LastName, new { htmlAttributes = new {  @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m[i].Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.CheckBoxFor(m => m[i].IsActive)</td>
                            <td>@Html.CheckBoxFor(m => m[i].IsAdmin)</td>
                            <td>@Html.CheckBoxFor(m => m[i].IsUploader)</td>
                        </tr>}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Apply changes</button>
        </form>
    </div>

@section Styles
{
    @Styles.Render("~/Content/admin/css")
}
