@model SMPhotos.Web.ViewModel.UserVM
@{
    ViewBag.Title = "ChangeProfile";
}
@Styles.Render("~/Content/join/css")

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        @using (Html.BeginForm("ChangeProfile", "Home", FormMethod.Post, new { @class = "joinus" }))
        {
            <h2>Change your Profile <small>It's free, don`t be scare.</small></h2>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control input-lg has-feedback", required = "required", title = "This field can`t be empty" } })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control input-lg", required = "required", title = "This field can`t be empty" } })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control input-lg" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control input-lg", required = "required", title = "This field can`t be empty" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", placeholder = "Password"  } })
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", @id ="password", placeholder = "New Password", pattern = ".{6,}", title = "Six or more characters" } })
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        @Html.EditorFor(m => m.ConfirmNewPassword, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", @id = "confirm_password", placeholder = "Confirm New Password" } })
                    </div>
                </div>
            </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><button type="submit" class="btn btn-primary btn-block btn-lg">Apply changes</button></div>
                    <div class="col-xs-6 col-md-6"><a href="#" class="btn btn-danger btn-block btn-lg">Reset changes</a></div>
                </div>
        }
    </div>
</div>

@section Script{
    @Scripts.Render("~/Scripts/passwordValidation/js")
}