@model SMPhotos.Web.ViewModel.RegisterUserVM
@{
    ViewBag.Title = Translation.Register;
}

@*@Html.Partial("_Navigation")*@
@Styles.Render("~/Content/join/css")
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            @using (Html.BeginForm(MVCManager.Controller.Home.Index, MVCManager.Controller.Home.Name, FormMethod.Post, new { @class = "joinus" }))
            {<h2>@Translation.PleaseSignUp</h2>
            <hr>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.FirstName, @tabindex = "1", @label = Translation.FirstName })
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.LastName, @tabindex = "2", @label = Translation.LastName })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Location, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.Location, @tabindex = "3", @label = Translation.Location })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.Email, @tabindex = "4", @type = "email", @required = "true", @label = Translation.Email })
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.Password, @tabindex = "5", @type = "password", @required = "true", @id = Translation.Password, pattern = ".{6,15}", @label = Translation.Password })
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PasswordConfirmation, htmlAttributes: new { @class = "form-control input-lg", @placeholder = Translation.PasswordConfirmation, @tabindex = "6", @type = "password", @required = "true", @id = Translation.PasswordConfirmation, pattern = ".{6,15}", @label = Translation.PasswordConfirmation })
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="7">@Translation.Register</button></div>
                    <div class="col-xs-6 col-md-6">
                    @Html.ActionLink(@Translation.SignIn, MVCManager.Controller.Home.Index, MVCManager.Controller.Home.Name, null, new { @class ="btn btn-success btn-block btn-lg"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Script{
    @Scripts.Render("~/Scripts/passwordValidation/js")
}
